.chat.clearfix
  = render '/groups/sidebar', group: @group
  .chat-main
    .chat-header.clearfix
      .chat-header--left
        %h2
          = @group.group_name
        %p.chat-header__users<>
          Member:
          %span.chat-header__user
          - @group.users.each do |user|
            = user.name
      .chat-header--right
        = link_to 'Edit', edit_group_path(@group), class: "chat-header__edit-btn", method: :get
    .chat-body
      = render 'message'
    .chat-footer
      = form_for [@group, @message], class:"new_message" do |f|
        .chat-footer__body
          = f.text_area :body, id: "message_content", class: "message_body", placeholder: "type a message", rows: "1"
          .chat-footer__image
            %i.fa.fa-image
        = f.submit "Save", id: "new_message", class: "input", method: :post
