.chat.clearfix
  = render 'sidebar', group: @group
  .chat-main
    .chat-header.clearfix
      .chat-header--left
        %h2
          = @group.group_name
        %p.chat-header__users<>
          Member:
          %span.chat-header__user
          - @group.users.each do |user|
            = user.name
      .chat-header--right
        %a.chat-header__edit
        = link_to 'Edit', edit_group_path(@group), class: "chat-header__edit-btn", method: :get
    .chat-body
      %ul.chat-messages
        %li.chat-message
          .chat-mssage__header.clearfix
            %p.chat-message__name Santa Claus
            %p.chat-message__time 2016/12/25
            %p.chat-message__body hohoho
    .chat-footer
      #new_message.new_message
      = form_for(@group) do |f|
        .chat-footer__body
          %textarea#message_body{rows: "1", name: "message[body]",  placeholder: "type a message"}
          %label.chat-footer__image
            %i.fa.fa-image
        = f.submit "Save", method: :post
